<html lang='en'>

  <head>
    <meta charset='utf-8' />
    <meta name='viewport' content='width=device-width, initial-scale=1.0' />
    <title>Tech Nine-Lives Blog</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>

  <body class='flex-column'>
    <nav class='navbar'>
      <ul class='flex-row'>
        <li class='nav-li'><a href='/'>Home</a></li>
        <li class='nav-li'><a href='/dashboard'>Dashboard</a></li>
        <li class='nav-li'><a href='/login'>Login</a></li>
        <li class='nav-li'><a href='#' id='logout'>Logout</a></li>
      </ul>
    </nav>
    <header class='header'>
      <h1 class='main-board'><a href='/dashboard'> Tech Nine-Lives Blog</a></h1>
    </header>

    <main>
      {{{body}}}
    </main>

    <footer class='footer'>
      <a href='/dashboard/new'>Post...it</a>
    </footer>
  </body>

  <script src='/js/logout.js'></script>

</html>